.choise {
    display: flex;
    margin: 40px auto;
    max-width: 1200px;
}

.bs-cont{ max-width: 1000px; margin: 0 auto; display: block;}

.seller {display: flex; padding: 0 auto;}
.buyer {display: flex;  padding: 0 auto;}
.buyer  img {padding: 10px; }
.seller img {padding: 10px; }

.bs-ic  {background: #def1ff;border-radius: 50%;}
.bs-prc {width: 724px; height: 276; padding-top:15%}
.bs-tc {display:flex; max-width: 724px; padding-left: 10px;}
.we {font-size: 40px; max-width: 1200px; margin: 0 auto;}

.reg {min-width: 1000px;
      height: 50vh;
    padding: auto;}

  
.good {
  background-image: url('../images/kisspng-computer-icons-contract-license-license-5ac18856777229.8775932315226327904893.png');
  max-width: 1000px;
  margin: 0 auto;
  height: 700px;
  background-repeat: no-repeat;
  text-align: right;
} 
.parallax { background-image: 
  url('../images/sclad.jpg'); 
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
