span {padding-right: 30px; font-size: 20px; padding-left: 40px;}

.rdl {vertical-align: middle; border: solid ;border-color: red}
.grl {vertical-align: middle; border: solid ;border-color: rgb(82, 82, 82)}
