header {
    display: flex;
    width: 100%;
    height:  200px;

    background-color: #404040;
    color: aliceblue;
}

#logo{padding-top: 10px;}

.login{
    width: 70%;
    text-align: right;
    font-size: 80px;
    padding-top: 20px;
    padding-right: 120px;
}
a {
    text-decoration:none;
  }
.login a:visited {color:aliceblue;}
.login a:link {color:aliceblue;}
.login a:hover {color:aliceblue;}

.Buyer-cont {display: flex; height: 1000px; }

.add_aria { 
    width: 25%;

    background-color: #808080;}
.orders { 
    width: 75%;
    
    background-color: #ccc;}
